/* RESET & TYPOGRAPHY */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
	font-family: "PT Serif", Georgia, serif;
	font-size: 16px;
	line-height: 1.6;
	color: #fff;
	background-color: #004CBF;

  background-image: -moz-linear-gradient(top, rgba(0,76,191,0.4) 0, rgba(0,76,191,1) 12em), url(img/bg.jpg);
  background-image: -webkit-linear-gradient(top, rgba(0,76,191,0.4) 0, rgba(0,76,191,1) 12em), url(img/bg.png);
  background-image: linear-gradient(top bottom, rgba(0,76,191,0.4) 0, rgba(0,76,191,1) 12em), url(img/bg.jpg);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
@media screen and (min-width: 390px) {
  body {
    background-image: -moz-linear-gradient(top, rgba(0,76,191,0.4) 0, rgba(0,76,191,1) 16em), url(img/bg.jpg);
    background-image: linear-gradient(top bottom, rgba(0,76,191,0.4) 0, rgba(0,76,191,1) 16em), url(img/bg.jpg);
  }
}
@media screen and (min-width: 600px) {
  body {
    font-size: 18px;
    background-image: -moz-linear-gradient(top, rgba(0,76,191,0.4) 0, rgba(0,76,191,1) 20em), url(img/bg.jpg);
    background-image: linear-gradient(top bottom, rgba(0,76,191,0.4) 0, rgba(0,76,191,1) 20em), url(img/bg.jpg);
  }
}
@media screen and (min-width: 900px) {
  body {
    font-size: 20px;
    background-image: -moz-linear-gradient(top, rgba(0,76,191,0.4) 0, rgba(0,76,191,1) 25em), url(img/bg.jpg);
    background-image: linear-gradient(top bottom, rgba(0,76,191,0.4) 0, rgba(0,76,191,1) 25em), url(img/bg.jpg);
  }
}
@media screen and (min-width: 1800px) {
  body {
    font-size: 22px;
  }
}
h1, h2, h3,
input,
button,
.intro-big,
.lesson-info {
  font-family: "Karla", "Helvetica", "sans-serif";
  font-weight: bold;
  text-decoration: none;
}
p {
  font-size: 1.1em;
}
a {
  color: #fff;
  text-decoration: none;
  box-shadow: 0 1px 0;
}
a:hover,
a:focus {
  background-color: rgba(255, 255, 255, 0.15);
}
.lesson-title a {
  box-shadow: 0 3px 0;
}
input {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: none;
}

strong {
  font-weight: 500;
  font-style: italic;
}

/* LAYOUT */
body {
	width: 100%;
}

/*HEADER*/
.big {
  font-size: 2em;
  line-height: 100%;
  margin: 2.5em 0 1.8em;
}
.huge {
  display: block;
  font-size: 3.5em;
  line-height: 95%;
}
@media screen and (min-width: 450px) {
  .big {
    font-size: 2.2em;
  }
}
@media screen and (min-width: 700px) {
  .big {
    font-size: 2.6em;
  }
}

.intro {
  margin: 2em 0 4em;
}
.intro-big {
  font-size: 1.3em;
  line-height: 130%;
  margin-bottom: 0;
}
@media screen and (min-width: 600px) {
  .intro-big {
    font-size: 1.6em;
  }
}
/* CONTENT */

.content {
  width: 90%;
  margin: 0 auto 3em;
}
@media screen and (min-width: 450px) {
  .content {
    width: 80%;
  }
}
@media screen and (min-width: 600px) {
  .content {
    width: 70%;
  }
}
@media screen and (min-width: 1100px) {
  .content {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  .content {
    width: 800px;
  }
}
.info {
  margin-bottom: 4em;
}

/* LESSONS */
.lesson-title {
  margin-top: 2em;
}
.lesson-info {
  font-size: 1.2em;
  line-height: 110%;
}
.coming-soon {
  margin: 3em 0;
  font-style: italic;
}

/* EMAIL */
.widget-container {
  margin-bottom: 3em;
}
@media screen and (min-width: 600px) {
  .widget-container {
    margin-bottom: 5em;
  }
}
.singup-label {
  display: block;
}
.widget > form > label > span {
  display: none;
}
.email-input, .signup-button,
.widget input[type="email"], .widget input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: 1em 1.2em;
  border: 0;
  font-size: 1em;
  border-radius: 0.2em;
}
.email-input,
.widget input[type="email"] {
  background-color: #fff;
}
.singup-button,
.widget input[type="submit"] {
  color: #fff;
  background-color: #00285d;
  cursor: pointer;
}
.signup-small {
  margin: 1em 0;
  line-height: 1.1em;
}
@media screen and (min-width: 500px) {
  .widget label {
    display: inline !important;
  }
  .email-input,
  .widget input[type="email"] {
    display: inline-block;
    width: 60%;
    margin-right: 2%;
  }
  .signup-button,
  .widget input[type="submit"] {
    display: inline-block;
    width: 30%;
  }
}
form {
  margin: 0 !important;
  padding: 0 !important;
}
.widget .error,
.widget .success {
  display: table;
  padding: 1em 1.2em !important;
  color: #fff !important;
  border-radius: 0.2em;
}
.widget .error {
  background-color: #ca3d26;
}
.widget .success {
  background-color: #2690CA;
}

.centered {
  text-align: center;
}
.footer {
  margin: 4em 0;
  font-size: 0.9em;
}
