body {
  margin: 60px;
  font-family: "Helvetica", "Futura LT", sans-serif;
  background-color: #212121;
  color: white;
}
h1 {
  font-size: 60px;
}
h3 {
  font-size: 27px;
  line-height: 120%;
}
p {
  font-size: 18px;
  line-height: 150%;
}
img {
  height: 50px;
}
