body {
  margin: 60px;
  font-family: "Helvetica", sans-serif;
  background-color: #3c3c3c;
  color: white;
  font-size: 1.4em;
}
h1 {
  margin-top: 50px;
  font-size: 60px;
}
p, h3 {
  width: 50%;
  margin: 40px 0px;
  border: 8px solid #ffda6c;
  padding: 20px;
  background-color: #3565cc;
  color: white;
}
h3 {
  width: 200px;
  padding: 40px;
}
